@use "variables" as v;

@mixin divColor($borderColor) {
  width: 310px;
  height: 225px;
  border-radius: 10px;
  border-top: 4px solid $borderColor;
  padding: 30px;
  position: relative;
  box-shadow: 3px 10px 10px v.$Grayish-Blue;
  margin-bottom: 30px;
  background-color: white;
  @media (min-width: 900px){
    width: 350px;
    height: 250px;
  }
}
